version: '3.8'

services:
  web:
    build: .
    ports:
      - "8080:80"
    environment:
      - DB_DRIVER=pgsql
      - DB_HOST=db
      - DB_PORT=5432
      - DB_NAME=boutique_db
      - DB_USER=postgres
      - DB_PASS=postgres
      - APP_ENV=development
    depends_on:
      - db
    volumes:
      - ./:/var/www/html

  db:
    image: postgres:15
    environment:
      POSTGRES_DB: boutique_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - ./db/init_postgres.sql:/docker-entrypoint-initdb.d/init.sql:ro
    ports:
      - "5433:5432"
